@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.category {
    height: 100%;
}

.MovieList {
    height: 100%;
}

.input-search {
    border-radius: 100%;
    font-size: 20px;
    font-weight: bold;
}